@model IEnumerable<Лабораторная_работа_7.Models.Vegetable>
<h2>Отсортированные овощи</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Список пуст!</h2>
}
